apiVersion: apps/v1
kind: Deployment
metadata:
  name: blocky-ui
  namespace: blocky
  labels:
    app: blocky-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blocky-ui
  template:
    metadata:
      labels:
        app: blocky-ui
    spec:
      containers:
        - name: blocky-ui
          image: gabrielduartem/blocky-ui:latest
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          env:
            - name: BLOCKY_API_URL
              value: "http://blocky:4000"
          resources:
            requests:
              memory: "32Mi"
              cpu: "25m"
            limits:
              memory: "128Mi"
              cpu: "200m"
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
