apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: blocky

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - servicemonitor.yaml
  - ui/deployment.yaml
  - ui/service.yaml
